$black: #181818;
$navBlack: #040306;
$green: #1db954;
$offGreen: #1ed760;
$blue: #509bf5;
$white: #ffffff;
$grey: #404040;
$lightGrey: #9b9b9b;
$lightestGrey: #b3b3b3;
$darkGrey: #282828;

$font-stack: "Circular std", sans-serif;

$font-size-base: 16px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 20px;
$font-size-lg: 24px;
$font-size-xl: 28px;
$font-size-xxl: 32px;

$spacing-base: 20px;
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 30px;
$spacing-lg: 50px;
$spacing-xl: 100px;

$transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1);
