@use "theme" as *;
@use "mixins";

nav {
  @include mixins.flexBetween;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: $nav-width;
  background-color: $navBlack;
  text-align: center;
  z-index: 99;
}

.logo {
  color: $green;
  margin-top: 30px;
  width: 70px;
  height: 70px;
  transition: $transition;
  &:hover,
  &:focus {
    color: $offGreen;
  }
  svg {
    width: 50px;
  }
}

.github {
  color: $lightGrey;
  width: 45px;
  height: 45px;
  margin-bottom: 30px;
  a {
    &:hover,
    &:focus,
    &.active {
      color: $blue;
    }

    svg {
      width: 30px;
    }
  }
}

.navList {
  display: flex;
  flex-direction: column;
  width: 100%;

  li {
    color: $lightGrey;
    font-size: 11px;
    a {
      display: block;
      padding: 15px 0;
      border-left: 5px solid transparent;
      width: 100%;
      height: 100%;

      &:hover,
      &:focus,
      &.active {
        color: $white;
        background-color: $black;
        border-left: 5px solid $offGreen;
      }
    }

    svg {
      width: 20px;
      height: 20px;
      margin-bottom: 7px;
    }
  }
}
