@use "mixins";
@use "theme" as *;

.header {
  @include mixins.flexBetween;
  margin-bottom: $spacing-md;

  .ranges {
    display: flex;
  }
}

.btn {
  background-color: transparent;
  color: $lightGrey;
}

.active {
  color: $white;
  border-bottom: 1px solid $white;
}

.artists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.artist {
  @include mixins.flexCenter;
  flex-direction: column;

  img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }

  .name {
    text-align: center;
    border-bottom: 1px solid transparent;
    &:hover,
    &:focus {
      border-bottom: 1px solid $white;
    }
  }
}
