@use "mixins";
@use "theme" as *;

.header {
  @include mixins.flexBetween;
  margin-bottom: $spacing-md;

  .ranges {
    display: flex;
  }
}

.greenBtn {
  @include mixins.greenBtn;
}

.btn {
  background-color: transparent;
  color: $lightGrey;
}

.active {
  color: $white;
  border-bottom: 1px solid $white;
}
